.modal-dialog {
    width: 70%;
    margin: auto auto;
} 
.my-custom-scrollbar {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;

}
.table-wrapper-scroll-y {
display: block;
}
.table-paginator{
    position: relative;
    height: 75px;
     //float: right;
    color: #646262;
}
.align-right{
    position: absolute;
    top:0;
    right:2rem;
}
.rpp{
    display: inline-block;
    margin-right: 4rem;
}
.rpp h4{
    font-size: 14px;
    display: inline-block;
    margin-right: 2rem;
}
.page-control{
    display: inline-block;
}
.page-control .current-page{
    display: inline-block;
    margin-right: 2rem;
}
.page-prev{
    margin-right: 2rem;
}
.page-next{
    margin-left: 2rem;
}
th{
background-color: #F5F5F5;
}
.form-input-control {
  height:35px;
  border-radius: 5px;
  border:1px solid;
}
.form-fixed-control{
  height:35px;
  width:60px;
  border-radius: 5px;
  border:1px solid;
}
.form-photo-control{
  height:35px;
  width:80px;
  border-radius: 5px;
  border:1px solid;
}

.form-extra-control{
  height:35px;
  width:90px;
  border-radius: 5px;
  border:1px solid;
}

.po {
  width: 20px;
  height: 20px;
  background-color:#B2F5EE;
}

.pr{
  width: 20px;
  height: 20px;
  background-color:#DAF7A6;
}

.column{
  width: 40%;
}

.column1{
	width: 75%;
}

.column2{
  margin-left: auto;
}

.row {
  margin-bottom: 20px;
  display: flex;
}

.row .row {
  margin: 0;
}

.row > * {
  padding: 15px;
  flex: 1;
}

.example1 {
  border: 2px solid #66CC99;
  padding: 5px;
  border-radius: 20px;
}

.tablecolumn {
	background-color: #cce6ff;
}
